.layout {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--bg-base);
}

.settingsContainer {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 40px;
}
